*{
    margin: 0;
    padding: 0; 
 }

.cabecalho {
    background-color: #804674;
    color: #ffffff;
    display: flex;
    justify-content:space-around;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 2%;
    height: 2%;
}